
#blue-bg {
    background-color: #3c5092;
}

#light-blue-bg {
    background-color: #b1bfee;
}

#under-case {
    padding-top: 2%;
    padding-left: 2%;
}

#im-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
