
.blue-bg {
    background-color: #1b4a75;
}

.white-bg {
    background-color: #e4dfda;
}

.light-blue-bg {
    background-color: #3f8092;
}

.blue-txt {
    color: #011D4D;
}

.white-txt {
    color: #e4dfda;
}

.dark-txt{
    color: #634037;
}

.link {
    text-decoration: none;
    color:#011D4D;
}

.im-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.im-comp {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

/* Pour mettre le texte du caroursel sous les images */
@media (max-width: 767.98px) {
  .carousel-caption.custom-caption {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f8f9fa;
    padding: 15px;
    background: #414C78;
  }
}

/* L'arrière-plan sombre qui couvre tout l'écran */
.video-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

/* Pop-up pour la page interet.html */
.video-overlay:target {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.video-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    position: relative;
    transition: all 5s ease-in-out;
}

.close-popup {
    position: absolute;
    top: -40px;
    right: 0;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.close-popup:hover {
    color: #ccc;
}

.video-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
}
