
#blue-bg {
    background-color: #414C78;
}

#blue-txt {
    color: #414C78;
}

#light-blue-bg {
    background-color: #b1bfee;
}

#im-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



